<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="safety_wall" params="
      prefix
      parent"
  >

    <material name="burgandy">
      <color rgba="0.502 0.0 0.125 0.4" />
    </material>

    <link name="${prefix}base_link" >
      <visual>
        <geometry>
          <box size="2 2.5 0.025" />
        </geometry>
        <origin xyz="0.0 -1.25 0.0125" rpy="0.0 0.0 0.0" />
        <material name="burgandy" />
      </visual>
      <collision>
        <geometry>
          <box size="2 2.5 0.025" />
        </geometry>
        <origin xyz="0.0 -1.25 0.0125" rpy="0.0 0.0 0.0" />
      </collision>
    </link>

    <joint name="${parent}_to_${prefix}base_link" type="fixed" >
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
      <origin xyz="0.0 -0.51 -.92" rpy="-1.5708 0.0 0.0" />
    </joint>
    
  </xacro:macro>

</robot>